{% extends 'settings.html' %}

{% block title %}
    My Account
{% endblock %}

{% block content %}
    {{ block.super }}
    <table class="table">
        <thead>
            <tr class="table-dark">
                <td class="display-6" colspan="12">My Account</td>
            </tr>
        </thead>
        <tbody>
            {# Change password section #}
            <tr>
                <td class="table-secondary" colspan="12"><strong>Change Password</strong></td>
            </tr>
            <tr>
                <td>
                    <form action="{% url "user:edit_account" %}" method="post">
                        <input type="hidden" name="form-type" value="password_form">
                        {% csrf_token %}
                        <table class="table">
                            <tr>
                                <td>
                                    <label for="id_old_password" class="form-label">Old Password</label>
                                </td>
                                <td style="width: 80%">
                                    {% if password_form.old_password.errors %}
                                        <input id="id_old_password" class="form-control is-invalid" name="old_password" type="password">
                                        <div class="invalid-feedback">
                                            {% for error in password_form.old_password.errors %}
                                                {{ error }}
                                            {% endfor %}

                                        </div>
                                    {% else %}
                                        <input id="id_old_password" class="form-control" name="old_password" type="password">
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="id_new_password" class="form-label">New Password</label>
                                </td>
                                <td>
                                    <input id="id_new_password" class="form-control" name="new_password1" type="password">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="id_new_password" class="form-label">Reenter New Password</label>
                                </td>
                                <td>
                                    <input id="id_new_password" class="form-control" name="new_password2" type="password">
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td colspan="2">
                                    <button type="submit" class="btn btn-outline-success me-2">Submit</button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </td>
            </tr>
            {# Change username section #}
            <tr class="table-secondary">
                <td colspan="12"><strong>Change Username</strong></td>
            </tr>
            <tr>
                <td>
                    <form action="{% url "user:edit_account" %}" method="post">
                        <input type="hidden" name="form-type" value="username_form">
                        {% csrf_token %}
                        <table class="table">
                            <tr>
                                <td><label for="id_username">Username</label></td>
                                <td style="width: 80%">
                                    <input type="text" name="username" value="{{ current_user.username }}" maxlength="150" autocapitalize="none" autocomplete="username" required="" id="id_username" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td colspan="2">
                                    <button type="submit" class="btn btn-outline-success me-2">Submit</button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </td>
            </tr>
            {# Email change section #}
            <tr class="table-secondary">
                <td colspan="12"><strong>Change Email</strong></td>
            </tr>
            <tr>
                <td>
                    <form action="{% url "user:edit_account" %}" method="post">
                        <input type="hidden" name="form-type" value="email_form">
                        {% csrf_token %}
                        <table class="table">
                            <tr>
                                <td><label for="id_email">Email</label></td>
                                <td style="width: 80%">
                                    {% if email_form.errors %}
                                        <input type="email" name="email" class="form-control is-invalid" value="{{ current_user.email }}" maxlength="255" id="id_email">
                                        <div class="invalid-feedback">
                                            {% for error in email_form.date_joined.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <input type="email" name="email" class="form-control" value="{{ current_user.email }}" maxlength="255" id="id_email">
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td colspan="2">
                                    <button type="submit" class="btn btn-outline-success me-2">Submit</button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </td>
            </tr>
            {# Account deletion section #}
            <tr class="table-secondary">
                <td colspan="12">
                    <strong>Delete Account</strong>
                </td>
            </tr>
            <tr>
                <td>
                    {% if marked_for_deletion %}
                        <form action="{% url "user:delete_account" %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-warning">
                                Cancel Account Deletion
                            </button>
                        </form>
                    {% else %}
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#accountDeletionModal">
                            Delete Account
                        </button>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    {#  Modal for account deletion  #}
    <div class="modal fade" id="accountDeletionModal" tabindex="-1" aria-labelledby="accountDeletionModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="accountDeletionModalLabel">Account Deletion Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Once you confirm that you want to delete your account, you will have <strong>one week</strong> to change your mind.</p>
                    <p>Account deletion <strong>cannot be undone</strong> after this time.</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-primary" data-bs-dismiss="modal">Take Me Back!</button>
                    <form action="{% url "user:delete_account" %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit">I Understand, Delete My Account</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}