{% extends 'settings.html' %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
    {{ block.super }}
    <form action="{% url "user:edit_profile" %}" method="post">
        {% csrf_token %}
        <table class="table">
            <thead>
                <tr class="table-dark">
                    <th colspan="12">My Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><label for="id_gender">Gender</label></td>
                    <td colspan="2">
                        {{ form.gender }}
                    </td>
                </tr>
                <tr>
                    <td>Birthday</td>
                    <td>
                        {{ form.birth_date }}
                    </td>
                    <td>
                        {{ form.birth_date_privacy }}
                    </td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td colspan="2">
                        {{ form.location }}
                    </td>
                </tr>
                <tr>
                    <td>Avatar</td>
                    <td colspan="2">
                        {{ form.avatar }}
                    </td>
                </tr>
                <tr>
                    <td>Biography</td>
                    <td colspan="2">
                        {{ form.bio }}
                    </td>
                </tr>
                <tr>
                    <td>Links</td>
                    <td colspan="2">
                        {{ form.links }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">
                        <button type="submit" class="btn btn-outline-success me-2">Submit</button>
                        <button type="reset" class="btn btn-outline-dark">Reset</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
{% endblock %}