{% extends 'base.html' %}

    {% block alerts %}
        {% if form.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                Your username or password is incorrect. Please try again.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}

        {% if next %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {% if user.is_authenticated %}
                You do not have sufficient permissions to do that.
            {% else %}
                You must be logged in to do that.
            {% endif %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        {{ block.super }}
    {% endblock %}



{% block content %}

    <h1 class="display-2 mb-5">Login</h1>


    <form method="post" action="{% url 'user:login' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_username" class="form-label">Username
                <input id="id_username" type="text" name="username" autofocus="" autocapitalize="none" autocomplete="off" maxlength="150" required class="form-control">
            </label>
        </div>
        <div class="mb-3">
            <label for="id_password" class="form-label">Password
                <input id="id_password" type="password" name="password" autocomplete="off" required class="form-control">
            </label>
        </div>
        <button type="submit" class="btn btn-outline-dark mb-5">Login</button>
        <input type="hidden" name="next" value="{{ next }}">
    </form>

    <p><a href="{% url 'user:registration' %}">Don't have an account?</a></p>
    <p><a href="#">Forgot your password?</a></p>


{% endblock %}