{% extends 'base.html' %}

{% block content %}
    <h1 class="display-2 mb-5">Sign Up</h1>
    <form method="post" action="{% url 'user:registration' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_email" class="form-label">Email
                <input id="id_email" type="email" name="email" autofocus="" autocapitalize="none" autocomplete="off" maxlength="150" required class="form-control">
            </label>
        </div>
        <div class="mb-3">
            <label for="id_username" class="form-label">Username
                <input id="id_username" type="text" name="username" autofocus="" autocapitalize="none" autocomplete="off" maxlength="150" required class="form-control">
            </label>
        </div>
        <div class="mb-3">
            <label for="id_password1" class="form-label">Password
                <input id="id_password1" type="password" name="password1" autocomplete="off" required class="form-control">
            </label>
        </div>
        <div class="mb-3">
            <label for="id_password2" class="form-label">Password
                <input id="id_password2" type="password" name="password2" autocomplete="off" required class="form-control">
            </label>
        </div>
        <div class="mb-3">
            <label for="id_date">Date of Birth</label>
            <input id="id_date" type="date" name="birth_date" autocomplete="off" required class="form-control">
        </div>
        <button type="submit" class="btn btn-outline-dark mb-5">Sign Up</button>
        <input type="hidden" name="next" value="{{ next }}">
    </form>

    <p><a href="{% url 'user:login' %}">Already have an account?</a></p>
{% endblock %}