{% extends 'base.html' %}

{% block alerts %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <h1 class="display-2 mb-5">Sign Up</h1>
    <form method="post" action="{% url 'user:registration' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_username" class="form-label">Email
                <input id="id_username" type="email" name="email" autofocus="" autocapitalize="none" autocomplete="off" maxlength="150" required class="form-control">
            </label>
        </div>
        <div class="mb-3">
            <label for="id_username" class="form-label">Username
                <input id="id_username" type="text" name="username" autofocus="" autocapitalize="none" autocomplete="off" maxlength="150" required class="form-control">
            </label>
        </div>
        <div class="mb-3">
            <label for="id_password" class="form-label">Password
                <input id="id_password1" type="password" name="password1" autocomplete="off" required class="form-control">
            </label>
        </div>
        <div class="mb-3">
            <label for="id_password" class="form-label">Password
                <input id="id_password2" type="password" name="password2" autocomplete="off" required class="form-control">
            </label>
        </div>
        <button type="submit" class="btn btn-outline-dark mb-5">Sign Up</button>
        <input type="hidden" name="next" value="{{ next }}">
    </form>

    <p><a href="{% url 'user:login' %}">Already have an account?</a></p>
{% endblock %}